@font-face {
  font-family: "goiadisplay";
  src: url("/Assets/font/goiadisplay/goiadisplay-regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: url("/Assets/font/switzer/Switzer-Regular.woff") format("woff"),
  url("/Assets/font/switzer/Switzer-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body{
    font-family: 'Smooch Sans';
}
h1{
    font-size: 64px;
    font-family: 'Smooch Sans';
}
h2{
    font-size: 48px;
    font-family: 'Smooch Sans';
    font-weight: 500;
}
h6{
    font-family: 'Switzer';
    font-weight: 400;
}

.col h2{
    color: #fff;
}

.col{
    margin-bottom: 10px;
    padding: 30px;
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card{
    display: grid;
    grid-template-columns: (repeat(2,1fr));
    margin-top: -120px;
}
.card h2{
    color:#000000;
}
.col span{
    color:#fff;
}
.service-card{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: auto;
}
.model-title {
  align-items: center;
  font-size: 160px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.iframe-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  aspect-ratio: 16 / 9;
  background: #ddd;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.iframe-actions {
  margin-top: 20px;
  text-align: center;
}

.iframe-actions button {
  padding: 12px 26px;
  font-size: 16px;
  cursor: pointer;
}

.section-label {
   font-size: 16px;
   font-weight:600;
   padding: 20px;
   border-left: 2px solid;
   color: #000;
   font-family:"goiadisplay";
   margin-left:30px;
   padding:15px 20px 10px 20px;
}

.section-title {
    margin: 0%;
    color: #0E0C05;
    text-transform: uppercase;
    line-height: 90%;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 1px;
    padding:80px 150px;
}

 @media (max-width: 768px) {
    .section-title {
    margin: 0%;
    color: #0E0C05;
    text-transform: uppercase;
    line-height: 90%;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: 1px;
    padding:0px;
} 
.section-title{
    font-size:56px;
}
.overlay-bottom div{
    display: none;
}
.inner-footer{
    width: 100%;
}
.grid-wrapper{
    grid-template-columns: 1fr;
}
.base-grid {
    grid-template-columns: 1fr;
  }
  .base-grid  div {
    max-width: 420px;
  }

.menu{
    visibility: hidden;
}
    img{
        max-width: 100%;
        max-height: 290px;
    }
    .iframe-container{
         height: 100vh;
    }
      .section-title {
        font-size: 56px;
        padding:0;
      }
      .model-title{
        display:none;
      }
      .model-box {
        height: 280px;
      }

      .model-text {
        font-size: 32px;
      }
      .navbar{
        display: none;
      }
    }
    
.footer-bottom{
    padding-top: 50px;
    margin:100px -5px -5px -10px;
     padding:0 20px 0 20px;
     background-color: #0E0C05;
     background-image: url("/Assets/image/footer.png");
     background-repeat: no-repeat;
     background-position: right bottom;
}

.grid-wrapper {
  position: relative; /* REQUIRED */
}
.top-grid {
 margin-top: 40px;
 padding-bottom:50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}
/* Base grid */
.base-grid {
  color: azure;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

/* Overlay at bottom */
.overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: rgba(0, 0, 0, 0);
}

.overlay-bottom div {
    min-height: 580px;
    color:#fff;
   border: 1px solid #ffc1073c;
  text-align: center;
}


.label {
   font-size: 16px;
   font-weight:600;
   border-left: 2px solid;
   font-family:"goiadisplay";
   padding:15px 20px 10px 20px;

}


.contact-info h6 {
  font-size: 0.85rem;
  font-weight: 700;
  color: rgb(255, 255, 255,0.5);
  margin-bottom: 0.5rem;
}

.contact-info p {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  line-height: 1.6;
  color: #fff;
}

.contact-info a {
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: #ffc107;
}


.social-links a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #000 !important;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: #ffc107;
  color: #000 !important;
  transform: scale(1.15);
}

footer hr {
  border-color: rgba(255, 255, 255, 0.1);
}

.menu {
  display: flex;
  gap: 20px;           
  align-items: center;
  white-space: nowrap; 
}

footer p {
  font-family: 'Switzer';
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 0;
}

footer a {
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffc107;
}

.yellow{
    color: #ffc107;
}
.bg-dark{
    background-color: #000 !important;
}
.white-text{
    color:#fff;
}

.grid-bg {
  background:
    linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 80px 80px;
}

/* HEADER */
.header {
  background: #0b0b0b;
  color: #fff;
  padding: 20px 0;
   margin:0 -5px 0 -5px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

/* HERO */
.hero {
  background: #0b0b0b;
  color: #fff;
  padding: 80px 0;
   margin:0 -5px 0 -5px;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
}

.hero-text h1{
  font-size: 96px;
  max-width: 817px;
  line-height: 1.2;
  color:#fff;
  font-weight: 500;
  z-index: 999;
  margin-left: 30px;
  top:250px;
  position:absolute;
}

.hero-image img {
  width: 100%;
}

/* LOGOS */
.logos {
  background: #0E0C05;
  padding: 30px 0;
}

.logos-grid {
    padding:30px;
    border: 1px solid #ffc1073c;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  color: #aaa;
  font-weight: bold;
}

/* SERVICES */
.services {
  padding: 80px 0;
}

.services-grid {
  display: grid;
  grid-template-columns:4fr 1fr;
  padding-left: 60px;
}
.accordion i{
color: #000;
}
.accordion details {
  border-bottom: 1px solid #ddd;
  padding: 25px;
}

.accordion summary {
    font-family: 'Switzer';
    font-size:22px;
  cursor: pointer;
  font-weight: bold;
}

.accordion p {
     font-family: 'Switzer';
     font-weight: 400;
    font-size:16px;
  margin-top: 10px;
  color: #555;
}

.btn {
  margin-top: 30px;
  padding: 14px 24px;
  background: #0b0b0b;
  color: #fff;
  border: none;
  cursor: pointer;
}

.services-image img {
  width: 100%;
}

/* FOOTER */
.footer {
  background: #0E0C05;
  color: #fff;
  padding: 80px 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 40px;
}

.footer-info p {
  margin-bottom: 15px;
  color: #ccc;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-grid,
  .services-grid,
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .logos-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .hero-text h1 {
    padding-left:0;
    font-size: 56px;
    font-weight: 500;
    font-family: 'Smooch Sans';
    position: relative;
    top:0;
  }
  .video-wrapper iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
  }
}

.video-wrapper {
  position: relative;
  width: 841px;
  height: 882px;
 /* 16:9 ratio */
  overflow: hidden;
  border-radius: 12px; /* optional */
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}