@font-face {
  font-family: "goiadisplay";
  src: url("Assets/font/goiadisplay/goiadisplay-regular.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: url("Assets/font/switzer/Switzer-Regular.woff") format("woff"),
  url("Assets/font/switzer/Switzer-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Smooch Sans';
}
h1{
    font-size: 64px;
    font-family: 'Smooch Sans';
}
h2{
    font-size: 48px;
    font-family: 'Smooch Sans';
    font-weight: 500;
}
h6{
    font-family: 'Switzer';
    font-weight: 400;
}

.col h2{
    color: #fff;
}

.col{
    margin-bottom: 10px;
    padding: 30px;
}
.card-col{
  padding-left: 120px;
  justify-content: space-between;
}
.card{
    display: flex;
    grid-template-columns: (repeat(2,1fr));
    margin-top: -80px;
}

.card-grid{
  display:flex;
  grid-template-columns:1.5fr 1fr;
  margin: auto;
  gap:50px;
}

.card h2{
    color:#000000;
}

.col span{
    color:#fff;
}

.service-card{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: auto;
}

.model-title {
  align-items: center;
  font-size: 160px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.iframe-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  aspect-ratio: 16 / 9;
  background: #ddd;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.iframe-actions {
  margin-top: 20px;
  text-align: center;
}

.iframe-actions button {
  padding: 12px 26px;
  font-size: 16px;
  cursor: pointer;
}

.section-label {
   font-size: 16px;
   font-weight:600;
   padding:15px;
   border-left: 2px solid;
   color: #000;
   font-family:"goiadisplay";
   margin-left:20px;

}

.section-title {
    margin: 0%;
    color: #0E0C05;
    text-transform: uppercase;
    line-height: 90%;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 1px;
    padding:80px 150px;
}

@media (max-width: 768px) {
.page-grid,.Services-image, .footer-grid,.footer-grid::before, .page-grid::before{
  display: none;
}
.accordion-wrapper{
  flex-direction: column;
}
.accordion-wrapper .accordion{
  padding-left:1px;
}
.services-grid{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding:0%;
}

.services-grid .accordion{
  min-width: 250px;
  max-width: 100%;
}
.col{
  padding: 0%;
}
.card-col{
  padding-left: 20px;
}
.col span{
    color:#000000;
}
.card{
  margin-top: 0%;
}
.btn{
  width: 100%;
  display: flex;
  white-space: nowrap; 
  gap:10px;
  align-items: center;
  justify-content: center;
}

.title h1{
  padding: 0%;
  padding:40px 0px 0 15px;
}
.title h1{
  padding: 0%;
  padding:40px 0px 0 15px;
}
.top-grid{
  padding-top: 20px;
  justify-items: center;
  background-color:#0E0C05;
  padding-left: 20px;
  overflow: hidden;
}
.top-grid p{
  left: 0;
}

.section-title {
    margin: 0%;
    color: #0E0C05;
    text-transform: uppercase;
    line-height: 90%;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left:10px;
    width: 100%;
}

.base-grid .contact-info{
  padding-left: 15px;
}

.menu{
  visibility: hidden;
}

    img{
        max-width: 100%;
        max-height: 290px;
    }

    .iframe-container{
         height: 100vh;
    }

      .model-title{
        display:none;
      }

      .model-box {
        height: 280px;
      }

      .model-text {
        font-size: 32px;
      }
    .logos{
      padding: 10px;
    }

.logos .logos-grid{
   grid-template-columns: repeat(3,1fr);
  padding:30px;
  margin:0;
  gap:40px;
  border:1px solid #ffc107;
}
.logos-grid .log:nth-child(n+4){
  display: none;
}

.hero-grid .video-wrapper{
  height: 420px;
  width:100%;
  aspect-ratio: 16/9;
  position: relative;
  margin: 0;
}

.hero-grid, .top-grid, .base-grid,.card-grid{
  flex-direction: column;
  padding: 0;
  margin: auto;
}

.card-grid{
  flex-direction: column;
  padding: 0;
  margin: auto;
  padding: 0%;
}

.col h2{
  text-align: end;
}
.number{
  display: none;
}
.hero-grid title{
  padding:0 30px;
}

.hero-grid .title  h1{
  font-size: 56px;
  line-height: 1;
  color:#fff;
  font-weight: 500;
  padding:20px;
}

.base-grid .title h1{
  padding:10px;
  width: 100%;
}

.desktop-nav{
  display: none;
}

.burger {
  width: 30px;
  cursor: pointer;
  top: 20px;
  right: 40px;
  z-index: 1001;
}

.burger span {
  display: block;
  height: 3px;
  background: #ffffff;
  margin: 6px 0;
  transition: 0.3s;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background: #111;
  padding: 80px 20px;
  transition: 0.3s;
  z-index: 999999;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 18px;
}

.sidebar.active {
  left: 0;
}

.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.bottom{
padding-left: 10px;
}
    }
    
.bottom{
padding-left: 100px;
}
.footer-bottom{
  margin-top: 80px;
    padding-top: 50px;
    background-color: #0E0C05;
    background-image: url("/Assets/image/footer.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.top-grid{
  padding-bottom:50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.label {
   font-size: 16px;
   font-weight:600;
   border-left: 2px solid;
   font-family:"goiadisplay";
   padding:15px;
   margin-left: 20px;

}
.contact-info{
  padding: 60px 0;
}

.contact-info h6 {
  font-size: 0.85rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: rgb(255, 255, 255,0.5);
  margin-bottom: 1.2rem;
}

.contact-info p {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 0.5rem;
}

.contact-info a {
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: #ffc107;
}

.social-links a {
  gap: 40px;
  text-decoration: none;
  display: inline-flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #000 !important;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.social-links a:hover {
  background-color: #ffc107;
  color: #000 !important;
  transform: scale(1.15);
}

.menu {
  display: flex;
  gap: 20px;           
  align-items: center;
  white-space: nowrap;
}

footer p {
  font-family: 'Switzer';
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 0;
}

footer a {
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffc107;
}
.bg{
  color:#0E0C05;
}
.yellow{
    color: #ffc107;
}
.bg-dark{
    background-color: #000 !important;
}
.white-text{
    color:#fff;
}



/* HEADER */
.header {
  background:#0E0C05;
  color: #fff;
  padding: 20px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}
.menubar{
  display: flex;
  gap: 20px;
}
.sidebar a{
  display: none;
}

.hero {
  background:#0E0C05;
  color: #fff;
}

.hero-text h1{
  font-size: 96px;
  line-height: 1.2;
  color:#fff;
  font-weight: 500;
  z-index: 999;
}

.logos {
  background-color: #000000;
  padding: 60px 0 60px 0;
}
.logos-grid {
  margin:0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  font-weight: bold;
  background-color:#0E0C05;
  padding: 60px;
}

.services {
  padding: 80px 0;
}

.services-grid {
  display:inline-flex;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap:60px;
}

.section-title{
  max-width: 860px;
}

.accordion{
  flex:1;
  padding-left: 120px;
  background-color: #fff;
}

.details[open] .icon {
  transform: rotate(180deg);
}

.accordion details{
  border-bottom: 1px solid #ddd;
  padding: 25px;
  font-family: 'Switzer';
  font-weight: 500;
  font-size:22px;
}

details[open] summary i {
  transform: rotate(180deg);
}

summary::-webkit-details-marker {
  display: none; /* remove default arrow */
}

.accordion-wrapper .accordion  summary{
  justify-content: space-between;
  cursor:default;
  font-size: 22px;
  font-weight: 600;
  list-style: none;
  padding: 30px;
  display: flex;
}

.services-grid{
  grid-template-columns:1.5fr 1fr;
  display: grid;
  gap:60px;
}
.accordion  div{
  padding:32px;
  background-color: #FFF9F3;
  font-family: 'Switzer';
  font-weight: 400;
  font-size:16px;
  margin-top: 10px;
  color: #555;
  border-bottom:2px solid #000;
}
.Services-image{
  padding-right: 20px;
}
.accordion-wrapper{
 display: flex;
 gap:80px;
 align-items: flex-start;
}
.accordion{
  flex:1;
}
.btn i{
  color: #ffc107;
}

.btn {
  padding:24px;
  background: #0b0b0b;
  color: #fff;
  border: none;
  cursor: pointer;
  align-items: center;
}

.footer {
  background: #0E0C05;
  color: #fff;
  padding: 80px 0;
}

.footer-info p {
  margin-bottom: 15px;
  color: #ccc;
}

.video-wrapper {
  right: 0;
  width: 819px;
  height: 821px;
  cursor: pointer;
  position:absolute;
  z-index: 9;
}
.top-grid{
  display: flex;
  padding-left: 30px;;
  grid-template-columns:1fr 1fr;
  margin: auto;
  gap:25px;
}
.base-grid{
  display:flex;
  grid-template-columns:1.5fr 1fr;
  margin: auto;
}
.base-grid h1{
  padding:60px 120px 60px 250px;
  max-width: 820px;
}

.hero-grid{
  display:flex;
  grid-template-columns:1.5fr 1fr;
  margin: auto;
  min-height: 820px;
}

.hero-grid  h1{
  font-size: 96px;
  font-family: 'Smooch Sans';
  padding-top: 30px;
  max-width: 817px;
  font-weight: 500;
  height: 100%;
  z-index:99;
  position: relative;
  padding:135px 20px;
}

.page-grid{
  position: fixed;
  inset: 0;
  bottom:0;
  z-index: -1;
  pointer-events: none;
  margin: 20px  20px; /* left & right spacing */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100vh;
  
}

.page-grid::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(to right, rgba(0,0,0,0.1) 1px, transparent 1px),
    linear-gradient(to left, rgba(0,0,0,0.1) 1px, transparent 1px);

  background-size:
    calc(100% / 5) 100%,
    calc(100% / 5) 100%;

  background-position:
    0 0,
    100% 0;
}

.footer-grid{
  position: fixed;
  inset: 0;
  bottom:0;
  z-index:999;
  pointer-events: none;
  margin: 20px  20px; /* left & right spacing */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100vh;
  
}

.footer-grid::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(to right,rgba(255, 247, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to left, rgba(255,247,0,0.1) 1px, transparent 1px);

  background-size:
    calc(100% / 5) 100%,
    calc(100% / 5) 100%;

  background-position:
    0 0,
    100% 0;
}

.desktop-nav{
  color: #fff;
}
